<!-- <%- include('../partials/header1.ejs') %> -->

<!-- <link rel="stylesheet" href="../stylesheets/show.css"> -->


<!-- <h1><%=collection.name%></h1>

<img src="<%= collection.image %>">

<p><%= collection.desc %></p>
<p>Submitted by <%= collection.author.username %></p>

<a class="btn btn-primary" href = '/collection/<%= collection._id %>/comments/new'>Add new comment</a>
<% collection.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author.username %></strong> - <%= comment.text %>
    </p>    
<% }); %> -->

<!-- <div class="md-head">
    <div class="md-head-container">
        <div class="md-head-left">
            <div class="md-head-logo">
                <img src="<%= collection.image %>" class="img-logo"> -->
                <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Star_Wars_-_The_Force_Awakens_logo.png"
                    class="img-logo"> -->
            <!-- </div> -->
            <!-- <div class="md-head-detail">
                <ul>
                    <p class="name-movie"><%= collection.name%></p>
                    <li class="li-detail"><img src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-time.svg"
                            class="bshn-icon-desc"><%= collection.time %></li>
                    <li class="li-detail"><img src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-tag.svg"
                            class="bshn-icon-desc"><%= collection.genre %></li>
                    <li class="li-detail"><img src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-date.svg"
                            class="bshn-icon-desc"><%= collection.date %></li>
                    <li class="li-detail">
                        ACTORS: <%= collection.actors %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="md-head-trailer">
            <div class="trailerVdo">
                <iframe class="iframe-trailer" src="<%= collection.trailer %>"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="fav-and-buy">
            <div class="fav">
                <img src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-favorite.svg">
            </div>
            <div class="buy">
                <button class="btn-buy">BUY TICKET!</button>
            </div>
        </div>
    </div>
</div>

<div class="about-review">
    <h1>Rating & Review</h1>
    <% collection.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author.username %>:</strong> <%= comment.text %>
    </p>    
    <% }); %> -->
    <!-- <a class="btn btn-primary" href = '/collection/<%= collection._id %>/comments/new'>Add  your  review!</a> -->
<!-- </div> -->

<!-- <div class='container'>
    <form action='/collection/<%= collection._id %>/comments' method='POST'>
        <h5 class="h5">Write your review here!</h5>
        <div class="cover-inp">
          <input type="text" placeholder="Your comment" class="comment-detail" name='comment[text]'>
          <input type="submit" value="comment" class="submit-comment">
        </div>
      </form>
</div>

<%- include('../partials/footer.ejs') %> -->