<%- include('../partials/header1.ejs') %>

    <link rel="stylesheet" href="/stylesheets/profile.css">

    <script src="/profile.js" defer></script>
    <div class="container">
        <div class="box-personal">
            <div class="bp-left">
                <div class="bp-name">
                    <h3 class="bp-name-h3">WELCOME</h3>
                    <h4 class="bp-name-h4">
                        <%= currentUser.firstname %>
                            <%= currentUser.lastname %>
                    </h4>
                </div>
                <div class="bp-right">
                </div>
            </div>
            <div class="box-personal-tab">
                <div class="bn-tab">
                    <ul id="personal-tab" class="nav nav-pills mb-4" role="tablist">
                        <li id="personal-2-tab" class="nav-item" role="tab">
                            <a href="#" class="MYPROFILE">MY PROFILE</a>
                        </li>
                    </ul>
                </div>
                <div id="pills-tabContent" class="tab-content">
                    <div class="tap-pane fade show active" role="tabpanel">
                        <div class="my_profile">
                            <div class="my_profile_img">
                                <img src="<%= currentUser.image %>" class="img-profile">
                            </div>
                            <div class="my_profile_data">
                                <div class="my_profile_row">
                                    <div class="my_profile_label">Firstname</div>
                                    <div class="my_profile_value">
                                        <%= currentUser.firstname %>
                                    </div>
                                </div>
                                <div class="my_profile_row">
                                    <div class="my_profile_label">Lastname</div>
                                    <div class="my_profile_value">
                                        <%= currentUser.lastname %>
                                    </div>
                                </div>
                                <div class="my_profile_row">
                                    <div class="my_profile_label">Email</div>
                                    <div class="my_profile_value">
                                        <%= currentUser.email %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="/user/profile/<%= currentUser._id %>" method="POST" enctype="multipart/form-data">
                            <input type="file" class="img-profile" name='image' accept="image/*"> 
                            <button type="submit">Save</button>
                        </form>
                        <hr class="line-profile">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button onclick="onClick_Showing()" class="heading-movie" id="now-showing">SHOW HISTORY</button>
            <button onclick="onClick_Coming()" class="heading-movie" id="coming-soon">SHOW LIKE LIST</button>
        </div>

        <div id="movie-showing">

            <!-- <div class="album py-5"> -->
                <!-- <div class="container"> -->
                    <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3"> -->
                        <% if (currentUser) { %>
                            <div class="container-fluid row mt-3"  style="height: 300px;">
                                <% Booking.forEach(function(thisBooking){ %>
                                    <div class="row col-4 mx-3 card card-cover text-white bg-dark rounded-5 shadow-lg h-100">
                                        <div class="col-6">
                                            <img src="<%= thisBooking.moviesImage %>" height="300px" overflow: hidden;>
                                        </div>
                                        <div class="col-6" style="position: relative; height: 300px; padding-top: 50px;">
                                            <h3><%= thisBooking.moviesName %></h3>
                                            <div class="container-fluid" style="height: 10px;"></div>
                                            <h5>Seat: &emsp;&emsp;&nbsp;<%= thisBooking.seats %></h5>
                                            <h5>Date: &emsp;&emsp;<%= thisBooking.date %></h5>
                                            <h5>Time: &emsp;&emsp;<%= thisBooking.time %></h5>
                                            <h5>Theater: &ensp;&nbsp;<%= thisBooking.theater %></h5>
                                            <span class="big-dot" style="position: absolute; right: 0; top: 10px; background-color: gray;"></span>
                                            <img src="<%= thisBooking.cinemaImage %>" style="width: 100px; position: absolute; right: 0; bottom: 10px;">
                                        </div>
                                    </div>   
                                <% }); %>
                            </div>
                        <% } %>
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>


        <div id="movie-coming">
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                        <% if ( movie.likes == 0 ) {  %>
                            &ensp; <p class="dont-like"> You don't have a movie in your favorite. Let's add a movie to your favorite! </p> 
                        <% } else {  %>
                            <% movie.likes.forEach(function(liked){ %>
                                <div class="col">
                                    <a href="/movie/<%= liked.movies.id %>" class="detail">
                                        <div class="card shadow-sm" style="width: 16rem;">
                                            <img src="<%= liked.movies.image %>" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= liked.movies.name %>
                                                </h5>
                                                <!-- <p class="card-text">
                                                    <%= liked.date %>
                                                </p> -->
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% }); %>
                        <% } %>   
                    </div>
                </div>
            </div>
        </div>



        <%- include('../partials/footer.ejs') %>