<%- include('../partials/header1.ejs') %>

<link rel="stylesheet" href="/stylesheets/home.css">

<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="<%= Cinemas.image %>" class="d-block w-100 cinemaimg" style="height: 50rem; filter: blur(5px);position: relative;">
        <div class="carousel-caption  d-md-block tool-1" style=" text-align: left;">
            <img src="<%= Cinemas.logo %>" width="350px" height="200px" style="object-fit: contain; margin-top: -570px;margin-left: -130px;">
            <p class="head-messege" style="margin-top: -180px ;margin-left: -20px;"><%= Cinemas.name %></p>


            <% if ( !currentUser || currentUser.status === 'user' ) { %>
                <p class="slogan"><%= Cinemas.slogan %></p>
            <% } else if ( currentUser.status === 'admin' || currentUser.status === 'boss' ) { %>
                <div class="btn-tool">
                    <a href="/cinema/<%= Cinemas._id %>/edit"><button class="btn btn-primary btn-edit">EDIT &nbsp;<i class="far fa-edit"></i></button></a>
                    <form action="/cinema/<%= Cinemas._id %>?_method=DELETE" method="POST">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            DELETE &nbsp;<i class="fa fa-trash"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" style="color: black;">DELETE CINEMA &nbsp;<i class="far fa-trash-alt"></i></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="color: black; padding-right: 150px;">
                                        Do you want to delete <%= Cinemas.name %> ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn-1 btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn-1 btn btn-primary">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <% } %>

        </div>
        
        
    </div>
</div>


<!-- Now showing -->
<!-- Banner -->
<div class="about-review">
    <h1 class="h1-re">AVAILABLE MOVIE LIST <i class="fas fa-film"></i></h1>
</div>
<!-- End of Banner -->

<!-- Poster -->

<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            <% Movies.forEach(function(movie){  %>
                <div class="col">
                    <a href="/showtime/<%= Cinemas._id %>/<%= movie._id %>" class="detail">
                        <div class="card " style="width: 16rem;">
                            <img src="<%= movie.image %>"
                                class="card-img-top" style="height: 23rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%= movie.name %></h5>
                                <p class="card-text"><%= movie.date %></p>
                            </div>

                            <div class="hide" style="background-color:  rgba(0, 0, 0, 0.7);position: absolute;color:rgb(207, 87, 87) ;width:15.9rem;height: 23rem;"> 
                                <p class="name-movie"><%= movie.name %></p>
                                <p class="p-detail"><img
                                    src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-time.svg"
                                    class="bshn-icon-desc">
                                    <%= movie.time %>
                                </p>
    
                                <p class="p-detail"><img
                                    src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-tag.svg"
                                    class="bshn-icon-desc">
                                    <%= movie.genre %>
                                </p>
    
                                <p class="p-detail"><img
                                    src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-date.svg"
                                    class="bshn-icon-desc">
                                    <%= movie.date %>
                                </p>
    
                                <p class="p-detail">ACTORS: <%= movie.actors %></p>
                                
                            </div>
                            
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>