<%- include('../partials/header1.ejs') %>

    <link rel="stylesheet" href="/stylesheets/show.css">


    <div class="md-head">
        <div class="md-head-container">
            <div class="md-head-left">
                <div class="md-head-logo">
                    <img src="<%= movie.image %>" class="img-logo">
                </div>
                <div class="md-head-detail">
                    <ul>
                        <p class="name-movie">
                            <%= movie.name%>
                        </p>
                        <li class="li-detail"><img
                                src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-time.svg"
                                class="bshn-icon-desc">
                            <%= movie.time %>
                        </li>
                        <li class="li-detail"><img
                                src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-tag.svg"
                                class="bshn-icon-desc">
                            <%= movie.genre %>
                        </li>
                        <li class="li-detail"><img
                                src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-date.svg"
                                class="bshn-icon-desc">
                            <%= movie.date %>
                        </li>
                        <li class="li-detail">
                            ACTORS: <%= movie.actors %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md-head-trailer">
                <div class="trailerVdo">
                    <iframe class="iframe-trailer" src="<%= movie.trailer %>" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="fav-and-buy">
                <!-- <div class="fav">
                <img src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-favorite.svg">
            </div> -->
                <% if(!currentUser) { %>
                    <form action="/login" method="POST">
                        <button type="submit" class="fav-none-login"><i class="far fa-heart" id="like"></i></button>
                    </form>
                    <% } else { %>
                        <div class="container-fluid mt-3" style="height: 50px;">
                            <!-- function for check that user like or not -->
                            <% var match=0; var lid='' ; %>
                                <% currentUser.likes.forEach(function(liked){ if ( liked.movies.id==movie.id ) {
                                    match=1; lid=liked._id; } }); %>
                                    <% if( match==1 ) { %>
                                        <form action="/movie/<%= lid %>/unlike" method="POST">
                                            <button type="submit" class="fav"><i class="fa fa-heart"
                                                    id="unlike"></i></button>
                                        </form>
                                    <% } else { %>
                                        <form action="/movie/<%= movie._id %>/like" method="POST">
                                            <button type="submit" class="fav"><i class="far fa-heart" id="like"></i></button>
                                        </form>
                                    <% } %>
                        </div>
                    <% } %>
                    <div class="buy">
                        
                        <% if(currentUser && movie.author.id.equals(currentUser._id)){ %>
                            <a href="/movie/<%= movie._id %>/edit"><button class="btn-buy">EDIT</button></a>
                            <form action="/movie/<%= movie._id %>?_method=DELETE" method="POST">
                                <button class="btn-buy">DELETE</button>
                             </form>
                        <% } else { %>
                            <button class="btn-buy">BUY TICKET!</button>
                        <% } %>
                    </div>
            </div>
        </div>
    </div>

    <div class="about-review">
        <h1>Rating & Review</h1>
    </div>

<% movie.comments.forEach(function(comment){ %>
        <div class="about-comment">
            <div class="profile-comment">
                <img src="<%= comment.author.image %>" alt="mdo" width="40" height="40" class="rounded-circle">
            </div>
            
            <div class="comment">
                <strong class="strong-comment">
                    <%= comment.author.username %>
                </strong>
                <p class="text-comment">
                    <%= comment.text %>
                </p>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <form action="/movie/<%= movie._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button class="edit-delete" type="submit">DELETE&nbsp;<i class="fas fa-trash"></i></button>
                    </form>
                <% } %>
            </div>  
        </div>
<% }); %>

<div class='container'>
    <form action='/movie/<%= movie._id %>/comments/<%= comment._id %>?_method=PUT' method='POST'>
        <p class="line"><hr class="line-heading-movie"></p>
        <% if(!currentUser) { %>
            <img src="../uploads/user/user.jpg" alt="mdo" width="55" height="55" style="margin-top: 20px;" class="rounded-circle">
        <% } else { %>
            <img src="<%= currentUser.image %>" alt="mdo" width="55" height="55" style="margin-top: 20px;" class="rounded-circle">
        <% } %>
        <div class="cover-inp">
            <input type="text" class="comment-detail" name='comment[text]' placeholder="<%= comment.text %>" value="<%= comment.text %>">
            <button type="submit" class="submit-comment"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </form>
</div>


<%- include('../partials/footer.ejs') %>