<%- include('../partials/header1.ejs') %>

    <link rel="stylesheet" href="/stylesheets/movie.css">

    <div class='container'>
        <form action='/movie/<%= movie._id %>?_method=PUT' method='POST' enctype="multipart/form-data">  
            <div class="mb-3">
                <label class="form-label">Statue name</label>
                <input type="text" class="form-control" name='movie[name]' placeholder='<%= movie.name %>' value="<%= movie.name %>">
            </div>

            <div class="mb-3">
                <label class="form-label">Image</label><br>
                <img src="<%= movie.image %>" width="250px">
                <input type="file" class="form-control" name='image' accept="image/*">
            </div>

            <div class="mb-3">
                <label class="form-label">Date</label>
                <input type="text" class="form-control" name='movie[date]' placeholder='<%= movie.date %>' value="<%= movie.date %>">
            </div>

            <div class="mb-3">
                <label class="form-label">Time</label>
                <input type="text" class="form-control" name='movie[time]' placeholder='<%= movie.time %>' value="<%= movie.time %>">
            </div>

            <div class="mb-3">
                <label class="form-label">Genre</label>
                <input type="text" class="form-control" name='movie[genre]' placeholder='<%= movie.genre %>' value="<%= movie.genre %>">
            </div>

            <div class="mb-3">
                <label class="form-label">Actors</label>
                <input type="text" class="form-control" name='movie[actors]' placeholder='<%= movie.actors %>' value="<%= movie.actors %>">
            </div>

            <div class="mb-3">
                <label class="form-label">Trailer</label>
                <input type="text" class="form-control" name='movie[trailer]' placeholder='<%= movie.trailer %>' value="<%= movie.trailer %>">
            </div>

            <div class="mb-3">
                <label class="form-label">Rating</label>
                <input type="text" class="form-control" name='movie[rating]' placeholder='<%= movie.rating %>' value="<%= movie.rating %>">
            </div>

            <div class="mb-3">
                <label class="form-label">Type Movie</label>
                <input type="text" class="form-control" name='movie[type]' placeholder='<%= movie.type %>' value="<%= movie.type %>">
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editModal" style="width: 200px; margin-bottom: 10px;">
                Save
            </button>

            <!-- Modal -->
            <div class="modal fade" id="editModal" data-bs-backdrop="static" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">EDIT MOVIE</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want to edit this movie ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <button type="submit" class="btn btn-primary" id="sub-new-edit">Save</button> -->
            <a href='/movie' class="go-back">&nbsp;Go back</a>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>