<%- include('../partials/header1.ejs') %>

    <link rel="stylesheet" href="/stylesheets/movie.css">



    <script src="../javascript/movie.js" defer></script>
    
    <div class="header-movie-home">
        <h1 class="home-movie" style="margin-top: 20px;">MOVIES <i class="fas fa-film"></i></h1>
        <p class="space-button">
            <button onclick="onClick_Showing()" class="heading-movie" id="now-showing">NOW SHOWING</button>
            <button onclick="onClick_Coming()" class="heading-movie" id="coming-soon">COMING SOON</button>
            <hr class="line-heading-movie-1">
        </p>
       
    </div>



    <div id="movie-showing">
        <div class="dropdown-1" >
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                <% if ( sort == 'All' ) {  %>
                    &ensp; Genre
                <% } else {  %>
                    &ensp; Genre : <%= sort %>
                <% } %>
            </a>

            <ul class="dropdown-menu" id="genre" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/movie">All Movies</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Action">Action</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Adventure">Adventure</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Comedy">Comedy</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Crime">Crime</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Drama">Drama</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Fantasy">Fantasy</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Horror">Horror</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Sci-fi">Sci-Fi</a></li>
            </ul>

        </div>

        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <% showing.forEach(function(movie){ %>
                        <div class="col col-1">
                            <a href="/movie/<%= movie._id %>" class="detail">
                                <div class="card " style="width: 16rem;">
                                    <img src="<%= movie.image %>" class="card-img-top" style="height: 23rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= movie.name %>
                                        </h5>
                                        <p class="card-text">
                                            <%= movie.date %>
                                        </p>
                                    </div>

                                    <div class="hide" style="background-color:  rgba(0, 0, 0, 0.85);position: absolute;color:rgb(207, 87, 87) ;width:15.9rem;height: 23rem;"> 
                                        <p class="name-movie"><%= movie.name %></p>
                                        <p class="p-detail"><img
                                            src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-time.svg"
                                            class="bshn-icon-desc">
                                            <%= movie.time %>
                                        </p>
        
                                        <p class="p-detail"><img
                                            src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-tag.svg"
                                            class="bshn-icon-desc">
                                            <%= movie.genre %>
                                        </p>
        
                                        <p class="p-detail"><img
                                            src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-date.svg"
                                            class="bshn-icon-desc">
                                            <%= movie.date %>
                                        </p>
        
                                        <p class="p-detail">ACTORS: <%= movie.actors %></p>
                                        
                                    </div>
                                    
                                </div>
                            </a>
                            
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>


    </div>
    


    <div id="movie-coming">

        <div class="dropdown-1" >
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                <% if ( sort == 'All' ) {  %>
                    &ensp; Genre
                <% } else {  %>
                    &ensp; Sort by : <%= sort %>
                <% } %>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/movie">All Movies</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Action">Action</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Adventure">Adventure</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Comedy">Comedy</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Crime">Crime</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Drama">Drama</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Fantasy">Fantasy</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Horror">Horror</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Sci-fi">Sci-Fi</a></li>
            </ul>

        </div>

        
        
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <% coming.forEach(function(movie){ %>
                        <div class="col col-1">
                            <a href="/movie/<%= movie._id %>" class="detail">
                                <div class="card " style="width: 16rem;">
                                    <img src="<%= movie.image %>" class="card-img-top" style="height: 23rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= movie.name %>
                                        </h5>
                                        <p class="card-text">
                                            <%= movie.date %>
                                        </p>
                                    </div>

                                    <div class="hide" style="background-color:  rgba(0, 0, 0, 0.7);position: absolute;color:rgb(207, 87, 87) ;width:15.9rem;height: 23rem;"> 
                                        <p class="name-movie"><%= movie.name %></p>
                                        <p class="p-detail"><img
                                            src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-time.svg"
                                            class="bshn-icon-desc">
                                            <%= movie.time %>
                                        </p>
        
                                        <p class="p-detail"><img
                                            src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-tag.svg"
                                            class="bshn-icon-desc">
                                            <%= movie.genre %>
                                        </p>
        
                                        <p class="p-detail"><img
                                            src="https://www.majorcineplex.com/public/desktop_new_assets/img/icon-date.svg"
                                            class="bshn-icon-desc">
                                            <%= movie.date %>
                                        </p>
        
                                        <p class="p-detail">ACTORS: <%= movie.actors %></p>
                                        
                                    </div>
                                    
                                </div>
                            </a>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>


    <%- include('../partials/footer.ejs') %>