<%- include('../partials/header2.ejs') %>

    <link rel="stylesheet" href="/stylesheets/movie.css">


    <script src="/movie.js" defer></script>
    <div class="header-movie-home">
        <p class="home-movie">Movie</p>
        <p class="space-button">
            <button onclick="onClick_Showing()" class="heading-movie" id="now-showing">NOW SHOWING</button>
            <button onclick="onClick_Coming()" class="heading-movie" id="coming-soon">COMING SOON</button>
        </p>
        <hr class="line-heading-movie">
    </div>



    <div id="movie-showing">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                <% if ( sort == 'All' ) {  %>
                    &ensp; Genre
                <% } else {  %>
                    &ensp; Sort by : <%= sort %>
                <% } %>
            </a>

            <ul class="dropdown-menu" id="genre" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/movie">All Movies</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Action">Action</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Adventure">Adventure</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Drama">Drama</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Horror">Horror</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Fantasy">Fantasy</a></li>
                <li><a class="dropdown-item" href="/movie/genre-showing/Sci-fi">Sci-Fi</a></li>
            </ul>

            
            <% if( !currentUser ) { %> 
            <% } else if( currentUser.status === 'admin' || currentUser.status === 'boss' ) { %>
                <a href="/movie/new"><button type="button" class="btn btn-outline" style="color: white; margin: 0 auto; margin-top: -3%; margin-left: 2%;">Add new movies</button></a>
            <% } %>

        </div>

        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <% showing.forEach(function(movie){ %>
                        <div class="col col-1">
                            <a href="/movie/<%= movie._id %>" class="detail">
                                <div class="card " style="width: 16rem;">
                                    <img src="<%= movie.image %>" class="card-img-top" style="height: 23rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= movie.name %>
                                        </h5>
                                        <p class="card-text">
                                            <%= movie.date %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>


    </div>
    


    <div id="movie-coming">
        <!-- <div class="select-months-years">
            <form action="" method="post" class="select-inner-next">
                <select name="cinema" class="select-next">
                    <option value="All">All</option>
                    <option value="January">January 2021</option>
                    <option value="February">February 2021</option>
                    <option value="March">March 2021</option>
                    <option value="Apirl">Apirl 2021</option>
                    <option value="May">May 2021</option>
                </select>
            </form>
        </div> -->

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                <% if ( sort == 'All' ) {  %>
                    &ensp; Genre
                <% } else {  %>
                    &ensp; Sort by : <%= sort %>
                <% } %>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/movie">All Movies</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Action">Action</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Adventure">Adventure</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Drama">Drama</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Horror">Horror</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Fantasy">Fantasy</a></li>
                <li><a class="dropdown-item" href="/movie/genre-coming/Sci-fi">Sci-Fi</a></li>
            </ul>

            <% if( currentUser && currentUser.isAdmin ) { %>
                <a href="/movie/new"><button type="button" class="btn btn-outline" style="color: white; margin: 0 auto; margin-top: -3%; margin-left: 2%;">Add new movies</button></a>
            <% } %>

        </div>
        
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <% coming.forEach(function(movie){ %>
                        <div class="col col-1">
                            <a href="/movie/<%= movie._id %>" class="detail">
                                <div class="card " style="width: 16rem;">
                                    <img src="<%= movie.image %>" class="card-img-top" style="height: 23rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= movie.name %>
                                        </h5>
                                        <p class="card-text">
                                            <%= movie.date %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>


    <%- include('../partials/footer.ejs') %>