<%- include('../partials/header1.ejs') %>

    <link rel="stylesheet" href="../stylesheets/show.css">

    <div class="album py-5">
        <div class="container" >
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col col-1">
                    <img src="<%= movie.image %>" class="img-logo" style="width: 16rem;">
                </div>

                <div class="col">
                    <h1 class="name-movie"><%= movie.name %></h1>
                    <p class="p-detail">
                        <i class="far fa-clock bshn-icon-desc"></i>
                        <span class="p-detail"><%= movie.time %></span>
                    </p>
                    <p class="p-detail">
                        <i class="fa fa-tag bshn-icon-desc"></i>
                        <span class="p-detail"><%= movie.genre %></span>
                    </p>
                    <p class="p-detail">
                        <i class="far fa-calendar-alt bshn-icon-desc"></i>
                        <span class="p-detail"><%= movie.date %></span>
                        
                    </p>
                    <% if (movie.type === 'showing') {  %>
                        <p>
                            <i class="fa fa-star bshn-icon-desc"></i>
                            <span class="p-detail">Rating: <%= movie.rating %></span>
                        </p>
                    <% } %>
                    <p class="p-detail">ACTORS: <%= movie.actors %></p> 
                    <div class="fav-and-buy">
                        <% if(!currentUser) { %>
                            <form action="/login" method="POST">
                                <button type="submit" class="fav-none-login"><i class="far fa-heart" id="like"></i></button>
                            </form>
                        <% } else { %>
                                <span class="container-fluid mt-3" style="height: 50px;">
                                    <!-- function for check that user like or not -->
                                        <% var match=0; var lid='' ; %>
                                        <% currentUser.likes.forEach(function(liked){ if ( liked.movies.id==movie.id ) {
                                            match = 1; lid=liked._id; } }); %>
                                        <% if( match == 1 ) { %>
                                            <form action="/movie/<%= lid %>/unlike" method="POST">
                                                <button type="submit" class="fav"><i class="fa fa-heart" id="unlike"></i></button>
                                            </form>
                                        <% } else { %>
                                            <form action="/movie/<%= movie._id %>/like" method="POST">
                                                <button type="submit" class="fav"><i class="far fa-heart" id="like"></i></button>
                                            </form>
                                        <% } %>
                                </span>
                        <% } %>
                        <span class="buy">
                            <% if( currentUser && currentUser.status === 'admin' || currentUser && currentUser.status === 'boss' ){ %>
                                <a href="/movie/<%= movie._id %>/edit"><button class="btn btn-primary btn-edit">EDIT &nbsp;<i class="far fa-edit"></i></button></a>
                                <form action="/movie/<%= movie._id %>?_method=DELETE" method="POST">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                        DELETE &nbsp;<i class="fa fa-trash"></i>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">DELETE MOVIE &nbsp;<i class="far fa-trash-alt"></i></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you want to delete <%= movie.name %> ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-1 btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-1 btn-primary">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            <% } else { %>
                                <% if ( movie.type === 'showing' ) { %>
                                    <a href="/movie/<%= movie.id %>/showtime"><button class="btn btn-buy" >BUY TICKET!</button></a>
                                <% } else { %>
                                    <a href="#"><button class="btn btn-buy" >COMING SOON!</button></a>
                                <% } %>    
                            <% } %>
                        </span>
                    </div>
                </div>

                <div class="col">
                    <iframe class="iframe-trailer" src="<%= movie.trailer %>" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>






    <!-- Comment part -->

    <div class="about-review">
        <h1 class="h1-re">Review! <i class="fas fa-comments"></i></h1>
    </div>

    <% movie.comments.forEach(function(comment){ %>
        <div class="about-comment ">
            <div class="profile-comment">
                <img src="<%= comment.author.image %>" alt="mdo" width="40" height="40" class="rounded-circle" style="box-shadow: 3px 3px 4px rgb(68, 67, 67)">
            </div>

            <!-- nav -->
            

            <div class="navbar comment">
                <div class="container-fluid strong-comment">
                    <p class="navbar-brand" style="font-weight: bold;"><%= comment.author.username %> <i class="fas fa-user-edit"></i></p>

                    <% if( !currentUser ){ %>
                    <% } else if(currentUser && comment.author.id.equals(currentUser._id) || currentUser.status === 'admin' || currentUser.status === 'boss' ) { %>
                        
                        <div  class="dropdown setting">
                            <button class=" btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" style="border-radius: 50px;"><i class="fas fa-cog"></i></button>
                                <ul class="tool dropdown-menu menu-1">
                                    <li><a class="dropdown-item" href="/movie/<%= movie._id %>/<%= comment._id %>/edit"><button class="btn link-light edit-delete">EDIT &nbsp;<i class="far fa-edit"></i></button></a></li>
                                    <li><hr class="dropdown-divider"></li>
                              <li>
                                <form action="/movie/<%= movie._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn link-light edit-delete" type="submit" style="margin-left: 16px;" >DELETE &nbsp;<i class="fa fa-trash"></i></button>
                                </form> 
                              </li>
                                </ul>
                           
                        </div>
                    
                        <!-- <div class="d-flex">
                        <a href="/movie/<%= movie._id %>/<%= comment._id %>/edit"><button class="btn btn-primary edit-delete">EDIT &nbsp;<i class="far fa-edit"></i></button></a>
                        <form action="/movie/<%= movie._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-primary edit-delete" type="submit" style="margin-left: 10px;">DELETE &nbsp;<i class="fa fa-trash"></i></button>
                        </form>    
                    </div> -->
                    <% } %>

                    

                </div> <br>

                <p class="text-comment">
                    <%= comment.text %>
                </p>

            </div>
        </div>
    <% }); %>

    <div class='container'>
        <form action='/movie/<%= movie._id %>/comments' method='POST'>
            <p class="line"><hr class="line-heading-movie"></p>
            <% if(!currentUser) { %>
                <img src="../uploads/user/user.jpg" alt="mdo" width="55" height="55" style="margin-top: 20px; box-shadow: 4px 4px 4px rgb(82, 82, 82)" class="rounded-circle">
            <% } else { %>
                <img src="<%= currentUser.image %>" alt="mdo" width="55" height="55" style="margin-top: 20px; box-shadow: 4px 4px 4px rgb(82, 82, 82)" class="rounded-circle">
            <% } %>
            <div class="cover-inp">
                <input type="text" placeholder="Write your comment..." class="comment-detail" name='comment[text]'>
                <button type="submit" class="submit-comment"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>



<%- include('../partials/footer.ejs') %>